<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="/javascripts/ajax.js"></script>
  <script src="/javascripts/script.js"></script>
</html>
